<div class="row">
  <div class="col s12 m12 l12 valign center">
    <h4>{{appName}}</h4>
  </div>
</div>
<!--Retrieve User By Id-->
<div class="row">
  <div class="col s12 m12 l12 valign center input-field">
    <input mz-input id="userIdTextArea" class="valign center" placeholder="User Id" [(ngModel)]="currentUser" (keyup)="deloadUser()">
    <button mz-button class="btn" (click)="retriveUserNutritionInfo()">Retrieve User</button>
  </div>
</div>
<!--Api Call Spinner-->
<div *ngIf="showThrobber" class="row">
  <spinner></spinner>
</div>
<div class="row">
  <div *ngIf="userLoaded" class="col s12">
    <div *ngFor="let record of nutrientProgressRecords" class="col s12 m4 l3">
        <mz-card>
            <mz-card-title>{{record.NutrientName}} </mz-card-title>
            <mz-card-content>
                <mz-progress *ngIf="record.GoalIsHigh" [backgroundClass]="'grey lighten-4'" [percentage]="record.ProgressAmount == 0 ? 0 : (record.ProgressAmount / record.GoalAmount) * 100" [progressClass]="'green'"></mz-progress>
                <mz-progress *ngIf="!record.GoalIsHigh" [backgroundClass]="'grey lighten-4'" [percentage]="record.ProgressAmount == 0 ? 0 : (record.ProgressAmount / record.GoalAmount) * 100" [progressClass]="'red'"></mz-progress>
                <h4>Remaining : {{record.RemainingAmount}} {{record.MeasurementAbbreviation}}</h4>
                <h5>Progress : {{record.ProgressAmount}} {{record.MeasurementAbbreviation}}</h5>
                <h5>Goal : {{record.GoalAmount}} {{record.Measurement}}</h5>
            </mz-card-content>
        </mz-card>
    </div>
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large blue">
            <i mz-icon [align]="'center'" [icon]="'apps'" [size]="'small'"></i>
        </a>
        <ul>
          <li><a class="btn-floating blue" (click)="nutritionAppModal.openModal()"><i mz-icon [align]="'center'" [icon]="'account_circle'" [size]="'small'" (click)="onOpenModalProfileView()"></i></a></li>
          <li><a class="btn-floating blue" (click)="nutritionAppModal.openModal()"><i mz-icon [align]="'center'" [icon]="'restaurant'" [size]="'small'" (click)="onOpenModalNutritionView()"></i></a></li>
          <li><a class="btn-floating blue" (click)="nutritionAppModal.openModal()"><i mz-icon [align]="'center'" [icon]="'emoji_events'" [size]="'small'" (click)="onOpenModalGoalsView()"></i></a></li>
        </ul>
      </div>
  </div>
</div>

<mz-modal [fixedFooter]="true" [fullscreen]="true" #nutritionAppModal>
    <!--Profile Modal View-->
    <mz-modal-header *ngIf="showProfileModalView">
        <h2>{{userProfile.UserId}}</h2>
        <h4>{{userProfile.Gender}} {{userProfile.Age}}</h4>
    </mz-modal-header>
    <mz-modal-content *ngIf="showProfileModalView">
        <mz-card>
            <mz-card-title>Awards</mz-card-title>
            <mz-card-content>
                <div class="row">
                    <div *ngFor="let awardInfo of userProfile.AwardInfo" class="col s3">
                        <i *ngIf="awardInfo.ColorToShow == 'Black'" mz-icon [align]="'center'" [icon]="awardInfo.AwardIconName" [size]="'large'" style="color: black" mz-tooltip [tooltip]="awardInfo.AwardName + ': ' + awardInfo.Description" [position]="'top'"></i>
                        <i *ngIf="awardInfo.ColorToShow == 'Bronze'" mz-icon [align]="'center'" [icon]="awardInfo.AwardIconName" [size]="'large'" style="color: brown" mz-tooltip [tooltip]="awardInfo.AwardName + ': ' + awardInfo.Description" [position]="'top'"></i>
                        <i *ngIf="awardInfo.ColorToShow == 'Silver'" mz-icon [align]="'center'" [icon]="awardInfo.AwardIconName" [size]="'large'" style="color: silver" mz-tooltip [tooltip]="awardInfo.AwardName + ': ' + awardInfo.Description" [position]="'top'"></i>
                        <i *ngIf="awardInfo.ColorToShow == 'Gold'" mz-icon [align]="'center'" [icon]="awardInfo.AwardIconName" [size]="'large'" style="color: gold" mz-tooltip [tooltip]="awardInfo.AwardName + ': ' + awardInfo.Description" [position]="'top'"></i>
                        <i *ngIf="awardInfo.ColorToShow == 'Platinum'" mz-icon [align]="'center'" [icon]="awardInfo.AwardIconName" [size]="'large'" style="color: darkslategrey" mz-tooltip [tooltip]="awardInfo.AwardName + ': ' + awardInfo.Description" [position]="'top'"></i>
                        <i *ngIf="awardInfo.ColorToShow == 'Diamond'" mz-icon [align]="'center'" [icon]="awardInfo.AwardIconName" [size]="'large'" style="color: aqua" mz-tooltip [tooltip]="awardInfo.AwardName + ': ' + awardInfo.Description" [position]="'top'"></i>
                        <h4>({{awardInfo.UserAchievedCount}})</h4>
                    </div>
                </div>
            </mz-card-content>
        </mz-card>
    </mz-modal-content>
    <mz-modal-footer *ngIf="showProfileModalView">  
        <button mz-button [flat]="true" mz-modal-close>Save Profile</button>
        <button mz-button [flat]="true" mz-modal-close>Delete</button>
        <button mz-button [flat]="true" mz-modal-close>Cancel</button>
    </mz-modal-footer>

    <!--Nutrition Modal View-->
    <mz-modal-header *ngIf="showNutritionModalView">
    </mz-modal-header>
    <mz-modal-content *ngIf="showNutritionModalView">
        <!--Add Nutrition Record Area-->
        <div class="col s12 valign center">
            <h4><u>Nutrition Record Management</u></h4>
        </div>
        <div class="row">
            <!--User Progress Records Dropdown-->
            <div class="input-field col s12 m4 l4" (click)="preventDefAndProp($event)">
                <mz-select-container>
                    <select mz-select [label]="'User Progress Records'" [placeholder]="'User Progress Records'" id="user-record-options-select" (change)="userProgressRecordSelectChange($event)">
                        <option *ngFor="let progressRecord of userProgressRecords">{{progressRecord.RecordName}}</option>
                    </select>
                </mz-select-container>
            </div>

            <!--User Saved Records Dropdown-->
            <div class="input-field col s12 m4 l4" (click)="preventDefAndProp($event)">
                <mz-select-container>
                    <select mz-select [label]="'User Saved Records'" [placeholder]="'User Saved Records'" id="user-record-options-select" (change)="userSavedRecordSelectChange($event)">
                        <option *ngFor="let userRecord of userSavedRecords">{{userRecord.RecordName}}</option>
                    </select>
                </mz-select-container>
            </div>

            <!--Global Records Dropdown-->
            <div class="input-field col s12 m4 l4" (click)="preventDefAndProp($event)">
                <mz-select-container>
                    <select mz-select [label]="'Global Saved Records'" [placeholder]="'Global Saved Records'" id="global-record-options-select" >
                        <option *ngFor="let globalRecord of globalSavedRecords">{{globalRecord.RecordName}}</option>
                    </select>
                </mz-select-container>
            </div>
        </div>
        <div class="col s12">
            <div class="row">
                <!--Record Name Textbox-->
                <div class="input-field valign center">
                    <mz-input-container>
                        <input mz-input [label]="'Record Name'" [(ngModel)]="currentRecord.RecordName" class="valign center">
                    </mz-input-container>
                </div>
                <!--Nutrient Textboxes-->
                <div *ngFor="let nutrient of currentRecord.Nutrients">
                    <div class="input-field col s3 m3 l3 valign center">
                        <mz-input-container>
                            <input *ngIf="nutrient.Alias" mz-input [label]="nutrient.DisplayName + ' (' + nutrient.MeasurementAbbreviation + ')'" mz-tooltip [tooltip]="nutrient.Alias" [position]="'top'" [(ngModel)]="nutrient.Amount" class="valign center"  (keydown)="keyDownCaptureEvent($event, nutrient)" (input)="inputActionEvent($event, nutrient)">
                            <input *ngIf="!nutrient.Alias" mz-input [label]="nutrient.DisplayName + ' (' + nutrient.MeasurementAbbreviation + ')'" [(ngModel)]="nutrient.Amount" class="valign center"  (keydown)="keyDownCaptureEvent($event, nutrient)" (input)="inputActionEvent($event, nutrient)">
                        </mz-input-container>
                    </div>
                </div>
            </div>
        </div>
    </mz-modal-content>
    <mz-modal-footer *ngIf="showNutritionModalView">
        <button *ngIf="editingUserSavedRecord || editingProgressRecord" mz-button [flat]="true" mz-modal-close (click)="updateNutritionRecord()">Update Record</button>
        <button *ngIf="editingUserSavedRecord || editingProgressRecord" mz-button [flat]="true" mz-modal-close (click)="deleteNutritionRecord()">Delete Record</button>
        <button mz-button [flat]="true" mz-modal-close (click)="addNutritionRecord(false)">Save As Progress Record</button>
        <button mz-button [flat]="true" mz-modal-close (click)="addNutritionRecord(true)">Save As User Saved Record</button>
        <button mz-button [flat]="true" mz-modal-close>Cancel</button>
    </mz-modal-footer>

    <!--Goals Modal View-->
    <mz-modal-header *ngIf="showGoalsModalView">
        <h4>Goals</h4>
    </mz-modal-header>
    <mz-modal-content *ngIf="showGoalsModalView">
        <h2>Content for Goals</h2>
        <div class="col s12">
            <div class="row">
                <div *ngFor="let nutrient of userNutritionGoal.Nutrients">
                    <div class="input-field col s3 m3 l3 valign center">
                        <mz-input-container>
                            <input *ngIf="nutrient.Alias" mz-input [label]="nutrient.DisplayName + ' (' + nutrient.MeasurementAbbreviation + ')'" mz-tooltip [tooltip]="nutrient.Alias" [position]="'top'" [(ngModel)]="nutrient.Amount" class="valign center">
                            <input *ngIf="!nutrient.Alias" mz-input [label]="nutrient.DisplayName + ' (' + nutrient.MeasurementAbbreviation + ')'" [(ngModel)]="nutrient.Amount" class="valign center">
                        </mz-input-container>
                    </div>
                </div>
            </div>
        </div>
    </mz-modal-content>
    <mz-modal-footer *ngIf="showGoalsModalView">  
        <button mz-button [flat]="true" mz-modal-close (click)="updateUserNutritionGoal()">Update Goal</button>
        <button mz-button [flat]="true" mz-modal-close>Cancel</button>
    </mz-modal-footer>
</mz-modal>