<div class="row">
  <div class="col s12 m12 l12 valign center">
    <h4>{{appName}}</h4>
  </div>
</div>
<!--Retrieve User By Id-->
<div class="row">
  <div class="col s12 m12 l12 valign center input-field">
    <input mz-input id="userIdTextArea" class="valign center" placeholder="User Id" [(ngModel)]="currentUser" (keyup)="deloadUser($event)">
    <button mz-button class="btn" (click)="retrieveNutritionRecordsForUser()" >Retrieve User</button>
  </div>
</div>
<!--Api Call Spinner-->
<div *ngIf="showThrobber" class="row">
  <spinner></spinner>
</div>
<div class="row">
  <div *ngIf="userLoaded" class="col s12" id="tabarea">
    <mz-tab [fixedTabWidth]="'true'">
        <!--View Progress Tab-->
        <mz-tab-item [label]="'View Progress'">

        </mz-tab-item>
        <!--Add Record Tab-->
        <mz-tab-item [active]="'true'" [label]="'Add Record'">
            
            <div class="row">
            <!--User Record Dropdown-->
                <div class="input-field col s12 m6 l6">
                    <mz-select-container>
                    <select mz-select [label]="'User Saved Records'" [placeholder]="'User Saved Records'" id="user-record-options-select" (change)="userSavedRecordSelectChange($event)">
                        <option *ngFor="let userRecord of userSavedRecords">{{userRecord.RecordName}}</option>
                    </select>
                    </mz-select-container>
                </div>

                <!--Global Record Dropdown-->
                <div class="input-field col s12 m6 l6">
                    <mz-select-container>
                    <select mz-select [label]="'Global Saved Records'" [placeholder]="'Global Saved Records'" id="global-record-options-select" >
                        <option *ngFor="let globalRecord of globalSavedRecords">{{globalRecord.RecordName}}</option>
                    </select>
                    </mz-select-container>
                </div>
            </div>

            <div class="col s12 m12 l12 valign center">
                <h4><u>Add Nutrition Record</u></h4>
            </div>
            <div class="col s12 m12 l12">
                <div class="row">
                    <!--Record Name Textbox-->
                    <div class="input-field valign center">
                        <mz-input-container>
                            <input mz-input [label]="'Record Name'" [(ngModel)]="currentRecord.RecordName" class="valign center">
                        </mz-input-container>
                    </div>
                    <!--Nutrient Textboxes-->
                    <div *ngFor="let nutrient of currentRecord.Nutrients">
                        <div class="input-field col s3 m3 l3 valign center">
                            <mz-input-container>
                                <input mz-input [label]="nutrient.Name" [(ngModel)]="nutrient.Amount" class="valign center">
                            </mz-input-container>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s4 m4 l4">
                        <button class="btn" onclick="addNutritionRecord()">Add Daily One Time Record</button>
                    </div>
                    <div class="col s4 m4 l4">
                        <button class="btn" onclick="saveAndAddNutritionRecord()">Add And Save As User Record</button>
                    </div>
                    <div class="col s4 m4 l4">
                        <button class="btn" onclick="saveNutritionRecord()">Save As User Record</button>
                    </div>
                </div>
            </div>
        </mz-tab-item>
        <mz-tab-item [label]="'Edit Records'">Tab 2</mz-tab-item>
    </mz-tab>
  </div>
</div>



